.board{
    background-color: aqua;
    height: 320px;
   
}

.r-board{
    height: 280px;
    width: 300px;
    background-color: blanchedalmond;
    border: 1px solid gray;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 5px 5px 10px;
    margin-bottom: 40px;
}
.r-board h3{
    text-align: center;
}
.output-name{
    color: red;
    
}
.output-roll{
    margin-bottom: 20px;
    color: red;
}
.wrn{
    color: crimson;
}
#alert-mg{
    color: red;
    
}


.outLine{
  
   margin-left: 2px;
   
}
.inputs{
     background-color: wheat;
     height: 260px;
     width: 300px;
     padding: 30px;
}
.inputs button{
    padding: 5px;
    width:100px;
}
.inputs input{
    width: 220px;
    height: 30px;
   box-shadow: 5px 5px 10px gray;
   padding: 20px;
}
.inputs text{
    padding: 15px;
}
.headLine{
    margin-bottom: 20px;
    background-color: grey;
    color: lawngreen;
    width: 300px;
    box-shadow: 5px 5px 10px black;
    padding: 15px;
    margin-top: 40px;
}